html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inhereit;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

body {
  background-color: #ffffff;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.navigation-hat {
  padding-top: 43px;
  padding-bottom: 38px;
}

.nav-container {
  --h: 37px;
  height: var(--h);
  line-height: var(--h);
  overflow: hidden;
}

.Mart {
  display: inline-block;
  vertical-align: middle;
}

.Mart:hover,
.Mart:focus {
  background: none;
}

.site-navigation {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  float: right;
  list-style: none;
  color: #515151;
  overflow: hidden;
  text-decoration: none;
}

.site-navigation li {
  float: right;
  margin-left: 28px;
}

.site-navigation li:last-child {
  margin-left: 0;
}

.site-navigation a {
  font-family: 'Playfair Display', serif;
  color: #515151;
  text-decoration: none;
  font-size: 14px;
}

.site-navigation a:hover {
  color: #1abc9c;
}

.site-navigation a:focus {
  color: #1abc9c;
}

.slider_wrapper {
  background-image: url(./assets/image/slider.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  width: 100%;
  filter: brightness(85%);

}

.slider {
  position: relative;
  width: 1110px;
  --h3: 600px;
  margin: auto;
}

.button {
  width: 104px;
  height: 104px;
  position: absolute;
  background-color: #1abc9c;
  opacity: 0.65;
  border: none;
  outline: none;
  transition: opacity .4s ease;
  z-index: 1;
  top: 300px;
}

.left {
    left: 0;

}
.right {
    right: 0;
}

.right::before,
.left::before {
  content: "";
  --s: 28px;
  --bd: 4px solid #fff;
  width: var(--s);
  height: var(--s);
  border-left:  var(--bd);
  border-top:  var(--bd);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
}
.right::before {
  transform: translate(-60%, -50%) rotate(135deg);
}
.left::before {
   transform: translate(-20%, -50%) rotate(-45deg);
}

.button:hover,
.button:focus {
  background-color: #4ec6ab;
  opacity: 1;
  cursor: pointer;
}

.slides {
  margin: 0;
  padding: 0;
  position: relative; 
}

.slides-tours {
  position: relative;
}

.tours {
  font-size: 48px;
  color: floralwhite;
  position: absolute;
  text-transform: uppercase;
  left: 190px;
  top: 215px;
  margin: 0;
}

.slides-image {
  height: var(--h3);
  object-fit: cover;
  width: 100%;
}

.city-tours {
  position: absolute;
  top: 300px;
  left: 190px;
  font-size: 24px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
}

.product {
  display: block;
  width: 1110px;
  --h4: 255px;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #555252;
  text-align: center;
  line-height: var(--h4);
  position: relative;
}

.product::after {
  display: block;
  width: 160px;
  height: 8px;
  content: '';
  position: absolute;
  border: 1px solid #1abc9c;
  background-color: #1abc9c;
  bottom: 75px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.new-collection {
  height: auto;
  overflow: hidden;
}

.product-list {
  position: relative;
  width: 255px;
  float: left;
  margin-left: 30px;
  background-color: #e9f0fd;
  min-height: 322px;
  list-style: none;
}

.overlay {
  position: absolute;
  background-color: #737373;
  width: 100;
  height: 282px;
  opacity: 0;
}

.product-list:hover .overlay {
  opacity: 1;
}


.item {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid floralwhite;
 
}

.heart {
  top: 90px;
  left: 45px;
}

.arrow {
  top: 90px;
  left: 105px;
}

.clock {
  top: 90px;
  left: 160px;
}

.item-market {
  position: absolute;
  width: 165px;
  height: 50px;
  top: 150px;
  left: 45px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  --h: 50px;
  height: var(--h);
  line-height: var(--h);
}

.add-to-cart {
  padding-left: 2rem;
  text-decoration: none;
}

.img-hover {
  transform: translate(50%, 50%);
  float: left;
}

.overlay:hover {
  background-color: #1abc9c;
 
}

.link {
  text-decoration: none;
  color: #fff;
  
}

.product-list:hover .item-market {
  background: #555252;
  opacity: 1;
  border: 1px solid floralwhite;
}

.product-list:nth-child(4n+1) {
  margin-left: 0;
}

.product-list:nth-child(-n+4) {
  margin-bottom: 30px;
}

.product_price {
  width: 255px;
  height: 40px;
  color: #fff;
  background-color: #333333;
}

.product_name {
  width: 200px;
  float: left;
  text-indent: 1rem;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  --h: 40px;
  line-height: var(--h);
}

.price {
  width: 55px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: rgba(255,255,255, 0.3);
}

.product-list:hover .product_price {
  background-color: #1abc9c;
}

.footer-wrapper {
  display: block;
  width: 100%;
  height: 90px;
  background-color: #323232;
  
}

.container-footer {
  width: 1110px;
  margin: 0 auto;
  color: #fff;
  font-size: 16px;
  --h2: 90px;
  height: var(--h2);
  line-height: var(--h2);
  text-align: center;
}