/* Montserrat-Bold */

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/monserat/Montserrat-Bold.woff') format('woff');
}

/* Montserrat-Regular */

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/monserat/Montserrat-Regular.woff') format('woff');
}

/* Roboto-Light */

@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/ROBOTO/Robotolight.woff') format('woff');
}

/* Roboto-Regular */

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/ROBOTO/Roboto.woff') format('woff');
}

/* Kaushanscript-Regular */

@font-face {
  font-family: 'Kaushanscript-Regular';
  src: url('../fonts/Kaushan/Kaushanscript.woff') format('woff');
}