/* MEDIA */

@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background: -webkit-gradient( linear, left bottom, left top, from(rgb(252, 227, 138, 0.9)), to(rgb(243, 129, 129, 0.9))), url(../images/layers/baner@2x.png);
    background: -o-linear-gradient( bottom, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9)), url(../images/layers/baner@2x.png);
    background: linear-gradient( to top, rgb(252, 227, 138, 0.9), rgb(243, 129, 129, 0.9)), url(../images/layers/baner@2x.png);
  }
}

@media (min-width:320px) and (max-width:767px) {
  .header {
    background-position: center;
    padding-bottom: 100px;
  }
  .container {
    width: 100%;
  }
  .block-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .site-logo {
    margin-bottom: 30px;
    font-size: 45px;
  }
  .menu-nav {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 21px;
  }
  .menu-nav__item {
    margin-bottom: 20px;
  }
  .menu-nav__item:last-of-type {
    margin-bottom: 0;
  }
  .block-welcome__title {
    font-size: 50px;
    padding: 0;
    margin-bottom: 70px;
    line-height: 50px;
  }
  .block-welcome__subtitle {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .main {
    overflow: hidden;
  }
  .title-icon::after {
    display: none;
  }
  .services {
    margin-bottom: 50px;
  }
  .services__title {
    margin-bottom: 70px;
  }
  .our-team__txt {
    padding: 0;
  }
  .our-team__galery {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .our-team__item {
    margin-bottom: 20px;
  }
  .our-team__item:last-of-type {
    margin-bottom: 0;
  }
  .block-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .form {
    margin-bottom: 20px;
    width: 100%;
  }
  .form__email {
    width: 45%;
  }
  .form__button {
    width: 41%;
  }
  @media (min-width:768px) and (max-width:959px) {
    .header {
      background-position: center;
      padding-bottom: 100px;
    }
    .container {
      width: 100%;
    }
    .title-icon::after {
      left: 380px;
    }
    .block-welcome__title {
      font-size: 100px;
      padding: 0;
    }
    .our-team__galery {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }
  @media (min-width:960px) and (max-width:1119px) {
    .container {
      width: 100%;
    }
    .title-icon::after {
      left: 520px;
    }
    .our-team__galery {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }
}