*{
    margin: 0;
}

.header {
    display: block;
    max-width: 900px;
    margin: 0 auto;
  }

  .navigation {
    display: table;
    text-align: center;
    text-decoration: none;
    margin-top: 75px;
    margin-bottom: 105px;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  .menu li:hover a {
    color: #38a4dd;
  }

  .menu_item {
    display: inline-block;
    margin: auto auto auto 130px;
      }

  .menu_link {
    text-decoration: none;
    font-size: 14px;
  }

  .information {
    display: block;
    text-align: center;
  }

  .top_left {
    display: inline-block;
    text-align: left;
    width: 420px;
    margin-left: 60px;
  }

  .top_right {
    display: inline-block;
    text-align: right;
    width: 420px;
    margin-left: 60px;
  }

  .middle_left {
    display: inline-block;
    text-align: left;
    width: 420px;
    margin-left: 60px;
  }

  .middle_right {
    display: inline-block;
    text-align: right;
    width: 420px;
    margin-left: 60px;
  }

  .bottom_left {
    display: inline-block;
    text-align: left;
    width: 420px;
    margin-left: 60px;
  }

  .bottom_right {
    display: inline-block;
    text-align: right;
    width: 420px;
    margin-left: 60px;
  }

  .button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
    display: table;
    text-align: center;
    margin: 0 auto 70px;
    padding: 25px 36px;
  }

  .knopka {
    text-decoration: none;
    padding: auto;
    font-size: 20px;
  }

  .h5 {
    display: block;
    text-align: left;
    font-size: 14px;
    color: #b4ad9e;
    font-family: roboto, arial, sans-serif;
    margin-bottom: 25px;
    text-transform: uppercase;
  
  }

  .h2 {
    display: block;
    text-align: center;
    font-size: 30px;
    font-style: bold;
    color: #626262;
    margin-bottom: 40px;
  }

  .p {
    display: block;
    text-align: justify;
    font-size: 14px;
    color: #626262;
    margin-bottom: 140px;
  }